@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif !important;
}
header{
    position: sticky;
}

footer{
    position: sticky;
}

#logo{
    max-height: 6vh;
}

.bg-mengo{
    background-color: #c4271c;
}

.text-mengo{
    color: #c4271c;
}

a:hover {
    color: white !important;
}
  
a:active {
    color: white !important;
} 
